/* Diseño básico */
#historial {
    margin-top: 20px;
    font-size: 1.2rem;
    background-color: #e7f3fe;
    border: 1px solid #2196F3;
    border-radius: 5px;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dado {
    font-size: 3rem;
    display: inline-block;
    margin: 0 10px;
    padding: 20px;
    background-color: #e1e1e1;
    border: 2px solid #333;
    border-radius: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    font-size: 1.5rem;
}
